/* Copyright © 2019 Bas Kasemir */

.dropbox {
    width: 100%;
    min-height: 250px;
    height: inherit;
    border-radius: 6px;
    background-color: rgba(6, 82, 221, 1);
    margin: 0 0 20px 0;
    transition: 0.25s ease-in-out;
}

.ondrag {
    background-color: rgba(6, 153, 244,1.0);
}

label[for="files-dropbox"] {
    width: 100%;
    min-height: 250px;
    height: inherit;
    text-align: center;
    color: rgba(255,255,255,1);
    position: relative;
    top:0;
    font-size: 1.5em;
    display: block;
    cursor: pointer;
    padding: 65px 50px 0 50px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}

label[for="files-dropbox"] * {
    color: rgba(255,255,255,1)!important;
}

label[for="files-dropbox"] i {
    font-size: 2em;
}



.fileselect-full {
    cursor: not-allowed!important;
    opacity: 0.5;
}

#files-dropbox {
    opacity: 0;
}

#filelist {
    margin-bottom: 20px;
}

#filelist ul {
    list-style: none;
    margin: -20px 0 20px 0;
    font-weight: 700;
}