/* Copyright © 2019 Bas Kasemir */

.cb-outer {
    transition: 0.5s ease-out;
    height: 300px;
    width: 200px;
    position: relative;
    display: inline-block;
}

.cb-outer i {
    position: absolute;
    z-index: 5;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
}

.cb-outer i:first-of-type {
    position: absolute;
    z-index: 6;
    top: 60px;
    left: 60%;
    transform: translateX(-50%);
    font-size: 1.4em;
}

.cb-outer p {
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 200px;
}

.cb-outer p:first-of-type {
    top: 110px;
    font-size: 1.25em;
}