/* Copyright 2020 Marcel Zandberg during internship*/

.filter-options {
    display: inline-block;
}

.margin {
    margin-left: 5px;
}

.filter-width {
    width: 50%;
}

.icon-margin {
    margin-left: -22px;
}

.filter-options h5 {
    text-align: left;
}

.filter-options input {
    height: 30px;
    width: 190px;
    background-color: rgba(255,255,255,1);
    margin: 0 0 10px 0;
    padding: 5px 0;
    letter-spacing: 0.05em;
    font-size: 0.95em;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    transition: 0.25s ease-in-out;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    outline: none;
}

.filter-tag {
    height: 20px;
    width: auto;
    font-size: 0.75em;
    padding: 1px 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(6, 153, 244,1.0);
}

.action-buttons {
    width: auto;
    display: inline-block;
    float: right;
}

input:focus {
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}

label {
    position: relative;
    top: 10px;
    left: 0;
    font-size: 0.75em;
    font-weight: 700;
}

.results-table {
    height: auto;
    min-height: 100px;
    width: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,1);
    margin: 12px auto 0;
    border-radius: 6px;

}

.results-table-list {
    display: inline-block;
    max-height: 400px;
    width: 100%;
    overflow: auto;
    border-bottom: 10px solid rgba(234,234,234,1);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.results-table-header {
    width: 100%;
    height: 40px;
    background-color: rgba(234,234,234,1);
    border-radius: 6px 6px 0 0;
    font-weight: 700;
    padding: 10px 15px;
}

.results-table ul li{
    height: 50px;
    width: 100%;
    background-color: rgba(245, 246, 250,1.0);
    list-style-type:none;
    padding: 15px;
}

.results-table ul li:not(:last-of-type) {
    border-bottom: 1px solid rgba(64,64,64,0.25);
}

.results-table ul li div, .results-table-header div {
    display: inline-block;
}

.results-table-header div {
    float: left;
}

.results-table ul li div * {
    display: inline-block;
}

.checker {
    color: rgba(220, 220, 220, 1)!important;
    width: 20px;
    min-height: 5px;
    margin-right: 15px;
    font-size: 0.3em;
}

.position {
    width: 20px;
    margin-right: 15px;
}

.name, .owner, .date {
    width: 100px;
    margin-right: 15px;
}

.actions-label {
    width: 75px;
}


.session {
    width: 200px;
    margin-right: 50px;
}

.fileAmount {
    width: 150px;
    margin-right: 50px;
}

.timeStamp {
      width: 250px;
      margin-right: 50px;
  }

.preview {
    width: 60px;
    margin-right: 15px;
}

.duration {
    width: 75px;
    margin-right: 15px;
    float: right;
}

.status {
    width: 75px;
    margin-right: 15px;
    float: right;
}

.view {
    width: 20px;
    margin-right: 15px;
    float: right;
    cursor: pointer;
}

.share {
    width: 20px;
    margin-right: 15px;
    float: right;
    cursor: pointer;
}

.delete {
    width: 20px;
    margin-right: 15px;
    float: right;
    cursor: pointer;
}

.text-message {
    text-align: center;
    font-style: italic;
    color: rgba(64,64,64,0.75);
}