/* Copyright 2019 Bas Kasemir */

h3 {
    border-bottom: 3px solid rgba(6, 82, 221,1.0);
    width: auto!important;
    display:inline-block;
    margin-bottom: 15px;
}

.result-data-row {
    height: 75px;
    width: 60%;
}

.result-data-row-spacer {
    height: 30px;
    width: 60%;
}

.result-data-row .result-data-block {
    width: 25%;
    height: inherit;
    display: inline-block;
    float: left;
    padding: 5px 0;
}

.result-data-row .result-data-block h5, .result-data-row .result-data-block h5 * {
    color: rgba(127, 143, 166,1.0)
}