/* Copyright © 2019 Bas Kasemir */

.checkbox-container {
    height: 20px;
    width: auto;
    margin: 0 0 10px 0;
}

.checkbox-container-visuals {
    height: 20px;
    width: auto;
    margin-top: 85px;
    float: right;
}

.checkbox {
    height: 20px;
    width: auto;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    transition: 0.25s ease-out;
}

.checkbox .backbar {
    height: 25px;
    width: 40px;
    background-color: rgba(64,64,64,1);
    border-radius: 12.5px;
    cursor: pointer;
    position: absolute;
    transition: 0.25s ease-out;
}

.checkbox .backbar span {
    text-align: center;
    color: rgba(255,255,255,1);
    margin: 5px 0 0 1px;
    position: absolute;
    font-size: 9px;
}

.checkbox .switch {
    position: absolute;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255,1.0);
    text-align: center;
    color: rgba(255,255,255,1);
    font-size: 0.75em;
    transition: 0.25s ease-out;
    margin: 3px 0 0 3px;
}
.checked .switch {
    margin: 3px 0 0 18px;
}

.checked .backbar {
    background-color: rgba(6, 82, 221,1.0);
}

.checkbox label {
    position: relative;
    margin-left: 50px;
}

.not-allowed {
    cursor: not-allowed!important;
    opacity: 0.5;
}

.not-allowed * {
    cursor: not-allowed!important;
}

.not-allowed .switch, .not-allowed label {
    opacity: 1!important;
}