 /* Copyright 2020 Bas Kasemir  */

 .profile {
     text-align: center;
 }

 .profile .profile-picture {
     height: 150px;
     width: 150px;
     margin: 25px auto;
     border-radius: 50%;
 }

 .profile .heading {
     color: rgba(127, 143, 166,1);
     font-variant-caps: all-small-caps;
 }

 .profile .subtitle {
     color: rgba(127, 143, 166,1);
 }

fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

 fieldset > div {
     width: auto !important;
 }