/* Copyright 2020 Marcel Zandberg */

html {
    scroll-behavior: smooth;
}


A {text-decoration: none;}

.filter-options {
    display: inline-block;
}

.margin {
    margin-left: 5px;
}

.filter-width-50 {
    width: 50%;
}

.filter-width-100 {
    width: 100%;
}

.icon-margin {
    margin-left: -22px;
}

.filter-options h5 {
    text-align: left;
}

.next-to-label {
    margin-left: 50px;
}

.filter-options input {
    height: 30px;
    width: 190px;
    background-color: rgba(255,255,255,1);
    margin: 0 0 10px 0;
    padding: 5px 0;
    letter-spacing: 0.05em;
    font-size: 0.95em;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    transition: 0.25s ease-in-out;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    outline: none;
}
.sticky{
    position: fixed;!important;
}

.element-offset{
    padding: 0 0 0 12px;
}

.hideplot {
    display: none;!important;
}

.niveau {
    width: 110px;
    display: inline-block;
}

.scroll {
    margin: 35px auto;
    width: 1%;
}

select.niveau {
    cursor: pointer;
    /*border: 1px solid #cacaca;*/
    height: 33px;
    padding: 5px 0px;
    margin: 10px 1px 4px 5px;
    /*margin: 0 0 10px 0;*/
    text-align: left;
    letter-spacing: 0.05em;
    font-size: 0.95em;
    line-height: normal;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    transition: 0.25s ease-in-out;
    background-color: #fefefe;
    outline: none;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
}

select.niveau:focus {
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}

select.scripts {
    cursor: pointer;
    /*border: 1px solid #cacaca;*/
    height: 33px;
    width: 250px;
    padding: 5px 0px;
    margin: 10px 1px 4px 5px;
    /*margin: 0 0 10px 0;*/
    text-align: left;
    letter-spacing: 0.05em;
    font-size: 0.85em;
    line-height: normal;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    transition: 0.25s ease-in-out;
    background-color: #fefefe;
    outline: none;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
}

select.scripts:focus {
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}


.age input{
    height: 30px;
    width: 90px;
    background-color: rgba(255,255,255,1);
    margin: 0 0 10px 0;
    padding: 5px 0;
    letter-spacing: 0.05em;
    font-size: 0.95em;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    transition: 0.25s ease-in-out;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    outline: none;
}

.filter-tag {
    height: 20px;
    width: auto;
    font-size: 0.75em;
    padding: 1px 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(6, 153, 244,1.0);
}

.action-buttons {
    width: auto;
    display: inline-block;
    float: right;
}

input:focus {
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}

label {
    position: relative;
    top: 10px;
    left: 0;
    font-size: 0.75em;
    font-weight: 700;
}

.results-table-list {
    display: inline-block;
    max-height: 380px;
    width: 100%;
    overflow: auto;
    border-bottom: 10px solid rgba(234,234,234,1);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.result-row:hover {
    background-color: rgba(245,246,250,0.2);
}

.results-table {
    height: auto;
    min-height: 100px;
    width: 100%;
    background-color: rgba(255,255,255,1);
    margin: 0 auto;
    border-radius: 6px;
}

.results-table-header {
    width: 100%;
    height: 40px;
    background-color: rgba(234,234,234,1);
    border-radius: 6px 6px 0 0;
    font-weight: 700;
    padding: 10px 15px;
}

.results-table ul li{
    height: 45px;
    width: 100%;
    background-color: rgba(245, 246, 250,1.0);
    list-style-type:none;
    padding: 15px;
}

.results-table ul li:not(:last-of-type) {
    border-bottom: 1px solid rgba(64,64,64,0.25);
}

.results-table ul li div, .results-table-header div {
    display: inline-block;
}

.results-table-header div {
    float: left;
}

.results-table ul li div * {
    display: inline-block;
}

.checker {
    color: rgba(220, 220, 220, 1)!important;
    width: 20px;
    min-height: 5px;
    margin-right: 15px;
    font-size: 0.3em;
}

.position {
    width: 20px;
    margin-right: 15px;
}

.name, .owner {
    width: 100px;
    margin-right: 75px;
}

.date {
    width: 180px;
    margin-right: 50px;
}

.info {
    width: 10%;
}

.username-header {
    margin-right: 90px;
    width: auto;
}

.soundfilename {
    width: 220px;
    margin-right: 15px;
}

.soundfilename-header {
    width: 250px;
    margin-left: -40px;
}

.preview {
    width: 60px;
    margin-right: 15px;
}

.duration {
    width: 75px;
    margin-right: 15px;
    float: right;
}

.status {
    width: 75px;
    margin-right: 15px;
    float: right;
}

.view {
    width: 20px;
    margin-right: 75px;
    float: right;
    cursor: pointer;
}

.share {
    width: 20px;
    margin-right: 15px;
    float: right;
    cursor: pointer;
}

.delete {
    width: 20px;
    margin-right: 15px;
    float: right;
    cursor: pointer;
}

.text-message {
    text-align: center;
    font-style: italic;
    color: rgba(64,64,64,0.75);
}

.a-box {
    display: inline-block;
    width: 100%;
}

.a-filter {
    display: inline-block;
    position: relative;
    border-radius: 6px;
    width: 33%;
    margin: 15px 0 20px 0;
    padding: 0px 0px 10px;
    /*float:left; width: 100%;*/
    color: rgba(64,64,64,1);
    background: rgba(255,255,255,1);
    box-shadow: 0 2px 5px rgba(0,0,0,.5);!important;

}

.title {
    width: auto;
    padding: 1em 1.5em;
    color: rgba(255,255,255,1);
    background: rgba(6, 82, 221,1.0);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.a-filter .box-filter {
    padding: 0px 20px 30px;
}

.a-filter section {
    padding: 1.5em 0;
}

.a-filter label {
    width: 100%; float:left;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1em;
}

.a-filter .options {
    width: 100%; float:left;
    position: relative;
    border-top: 1px solid rgba(220,220,220,.25);
    padding: 1em 0;
}
.a-filter .options label {
    text-transform: none;
    margin: 0;
}
.a-filter .options .toggle {
    position: absolute;
    top: 1.25em; right: 0;
    width: 1em;
    height: 1em;
}
.a-filter .options .toggle span{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(6, 82, 221,1.0);
    width: 1em;
    height: .25em;
    transform-origin: center;
    transition: ease transform .5s;
}
.a-filter .options .toggle span:last-child {
    transform: rotateZ(90deg);
}
.a-filter .toggled span {
    transform: rotateZ(360deg) !important;
}

.a-filter .options .expands {
    max-height: 0;
    width: 100%;
    overflow: hidden;
}
.a-filter .options .open {
    max-height: 500px;
    padding: 25px 0px 0px;
}


.program-menu-box i {
    margin: 0 0 25px;
}

.program-menu-box {
    width: 47.5%;
    height: auto;
    display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 20px 0;
    padding: 20px;
    float: left;
    position: relative;
    background-color: rgba(255, 255, 255,1);
    box-shadow: 0 2px 5px rgba(0,0,0,.5);!important;
    color: rgba(64,64,64,1);
}

.program-menu-box-result {
    width: 47.5%;
    height: 550px;
    display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 20px 0;
    padding: 20px;
    float: right;
    position: relative;
    background-color: rgba(255, 255, 255,1);
    color: rgba(64,64,64,1);
}

.box-plot {
    position: relative;
    height: auto;
    min-height: 570px;
    width: 100%;
    margin: 20px 0;
    padding: 20px 20px 0;
    border-radius: 6px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.13);
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    transition: ease-in-out 0.25s;
}

.plot-pos {
    float: left;
    width: 32%;
    margin: 5px 15px 5px 0;
    display: inline-block;
}

.float-right {
    float: right;
}

.width {
    width: 66%;!important;
}

.height {
    height: 150px;
}

table {
    border-collapse: collapse;
    border-radius: 6px;
    /*border-bottom: 2px solid rgba(6, 82, 221,0.25);*/
    box-shadow: 0 2px 5px rgba(0,0,0,.5);!important;
}


