/*******************
  Universal Loader

  A library by Bas Kasemir
 ******************/

.disablescroll {
    overflow: hidden;
    height: 100%;
}

.cblt {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
  /*animation: name duration timing-function delay iteration-count direction fill-mode play-state;*/
    animation: fadeIn 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cblt > .cblt-box {
    max-height: 50%;
    max-width: 25%;
    overflow-y: scroll;
    padding: 20px;
    background-color: rgba(255,255,255,1.0);
    border-radius: 6px;
    text-align: center;
    /*animation: name duration timing-function delay iteration-count direction fill-mode play-state;*/
    animation: cblt-bounce 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.cblt > .cblt-box > .icon {
    height: 75px;
    width: 75px;
    font-size: 75px;
    transform-origin: center center;
    text-align: center;
    margin: 0 auto 20px auto;
    animation: cblt-spin 0.6s cubic-bezier(0.85, 0, 0.15, 1) 0.25s;
}

.cblt > .cblt-box > p {
    margin: 0 0 20px 0;
}

.cblt > .cblt-box > .cblt-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cblt > .cblt-box > .cblt-btn-wrapper > .cblt-btn {
    height: 30px;
    margin: 0 20px;
    padding: 4px 10px 0 10px;
    border-radius: 3px;
    color: rgba(255,255,255,1.0);
    transition: 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    cursor: pointer!important;
    flex-grow: 1;
}

.cblt > .cblt-box > .cblt-btn-wrapper > .cblt-btn:hover {
    transform: scale(1.05);
}

.cblt-error > .icon {
    color: rgba(235, 59, 90,1.0);
}

.cblt-info > .icon, .cblt-loading > .icon {
    color: rgba(45, 152, 218,1.0);
}

.cblt-warning > .icon {
    color: rgba(254, 211, 48,1.0);
}

.cblt-success > .icon {
    color: rgba(76, 209, 55,1.0);
}

.cblt-loading {
    cursor: wait;
}

.cblt > .cblt-box.cblt-loading > .icon{
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cblt-bounce {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes cblt-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}