<!-- Copyright © 2019 Bas Kasemir -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="author" content="Bas Kasemir, Marcel Zandberg" />
    <link th:href="@{/public/images/icons/Spraak-icon.png}" rel="icon" type="image/png">
    <link th:href="@{/public/fontawesome-free-5.13.0-web/css/all.css}" rel="stylesheet">
    <link th:href="@{/public/CSS/app.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/private/CSS/switches.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/private/CSS/wireframe.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/public/CSS/sweetalert.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/public/JS/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/public/JS/libs/JQuery-easing.js}"></script>
    <script th:src="@{/public/JS/libs/sweetalert.min.js}"></script>
    <script th:src="@{/public/JS/app.js}"></script>
    <script th:src="@{/private/JS/header.js}"></script>
    <script th:src="@{/public/JS/cobalt.js}"></script>
</head>
<th:block th:fragment="loginhead">
    <meta charset="utf-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="author" content="Bas Kasemir, Marcel Zandberg" />
    <link th:href="@{/public/images/icons/Spraak-icon.png}" rel="icon" type="image/png">
    <link th:href="@{/public/CSS/app.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/public/CSS/login.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/public/fontawesome-free-5.13.0-web/css/all.css}" rel="stylesheet">
    <script th:src="@{/public/JS/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/public/JS/libs/JQuery-easing.js}"></script>
    <script th:src="@{/public/JS/libs/sweetalert.min.js}"></script>
    <script th:src="@{/public/JS/app.js}"></script>
    <script th:src="@{/public/JS/login.js}"></script>
    <link th:href="@{/public/CSS/sweetalert.css}" rel="stylesheet" type="text/css">
</th:block>
<body>
<th:block th:fragment="header">
    <div class="header no_selection">
        <h1 class="hamburger hideondesktop"><i class="fas fa-bars"></i></h1>
        <a th:href="@{/app}" th:title="#{menu.home}">
            <img th:src="@{/public/images/spraak-logo/Spraak-logo-simple-white.svg}" height="50" width="50" alt="Logo" class="logo">
        </a>
        <h2 class="hideonmobile">Spraak</h2>
        <div class="account">
            <img th:src="${user.profile_picture == null || user.profile_picture == ''} ? '/public/images/default-user.svg' : ${user.profile_picture}" height="20" width="20" alt="avatar" class="avatar">
            <p><span class="hideonmobile">[[${#httpServletRequest.remoteUser}]] &nbsp;</span><i class="fas fa-caret-down ha-fa-caret"></i></p>
        </div>
        <div class="dropdown hideonload">
            <div class="tip"></div>
            <img th:src="${user.profile_picture == null || user.profile_picture == ''} ? '/public/images/default-user.svg' : ${user.profile_picture}" src="/public/images/icons/Spraak-icon.png" height="50" width="50" alt="avatar" class="avatar">
            <div class="names">
                <h4 th:text="${user.first_name} + ' ' + ${user.last_name} "></h4>
                <p th:text="${user.formattedRole}  + ' | ' + ${user.full_name_institute}"></p>
            </div>

            <div class="btns">
                <div class="half">
                    <a th:href="@{'/user/view/' + ${#httpServletRequest.remoteUser} }">
                        <div class="button">
                            <p><i class="fas fa-user"></i>&nbsp;[[#{account_menu.my_account}]]</p>
                        </div>
                    </a>
                </div>
                <div class="half">
                    <form id="logoutform" method="post" th:action="@{/logout}"></form>
                    <div class="button" id="logoutbutton">
                        <p><i class="fas fa-power-off"></i>&nbsp;[[#{account_menu.logout}]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="menubar">
    <div class="menubar no_selection">
        <a th:href="@{/}">
            <div class="menu-item no-selection" th:title="#{menu.home}" th:classappend="${#httpServletRequest.requestURI.startsWith('/app')} ? 'active' : ''">
                <i class="fas fa-home"></i>
            </div>
        </a>
        <a th:href="@{/analysis}">
            <div class="menu-item no-selection" th:href="@{/wireframe}" th:title="#{menu.analysis}" th:classappend="${#httpServletRequest.requestURI.startsWith('/analysis')} ? 'active' : ''">
                <i class="fas fa-flask"></i>
            </div>
        </a>
        <a th:href="@{/patients}">
            <div class="menu-item no-selection" th:title="#{menu.patients}" th:classappend="${#httpServletRequest.requestURI.startsWith('/patients')} ? 'active' : ''">
                <i class="fas fa-hospital-user"></i>
            </div>
        </a>
        <a th:href="@{/results}">
            <div class="menu-item no-selection" th:title="#{menu.reslults}" th:classappend="${#httpServletRequest.requestURI.startsWith('/results')} ? 'active' : ''">
                <i class="fas fa-clipboard-list"></i>
            </div>
        </a>
        <a th:href="@{/visuals}">
            <div class="menu-item no-selection" th:title="#{menu.analysis}" th:classappend="${#httpServletRequest.requestURI.startsWith('/visuals')} ? 'active' : ''">
                <i class="far fa-chart-bar"></i>
            </div>
        </a>
        <a th:href="@{'/user/view/' + ${#httpServletRequest.remoteUser} }">
            <div class="menu-item no-selection" th:title="#{menu.profiles}" th:classappend="${#httpServletRequest.requestURI.startsWith('/user/view')} ? 'active' : ''">
                <i class="fas fa-users"></i>
            </div>
        </a>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/user/new}">
                <div class="menu-item no-selection" th:title="#{menu.add_user}" th:classappend="${#httpServletRequest.requestURI.startsWith('/user/new')} ? 'active' : ''">
                    &nbsp;&nbsp;<i class="fas fa-user-plus"></i>
                </div>
            </a>
            <a th:href="@{/health}">
                <div class="menu-item no-selection" th:title="#{menu.apihealth}" th:classappend="${#httpServletRequest.requestURI.startsWith('/health')} ? 'active' : ''">
                    <i class="fas fa-tachometer-alt"></i>
                </div>
            </a>
            <a th:href="@{/settings}">
                <div class="menu-item no-selection" th:title="#{menu.spraaksettings}" th:classappend="${#httpServletRequest.requestURI.startsWith('/settings')} ? 'active' : ''">
                    <i class="fas fa-cog"></i>
                </div>
            </a>
        </div>
        <a th:href="@{/about}">
            <div class="menu-item no-selection" th:title="#{menu.about_spraak}" th:classappend="${#httpServletRequest.requestURI.startsWith('/about')} ? 'active' : ''">
                <i class="fas fa-info-circle"></i>
            </div>
        </a>
    </div>
</th:block>

</body>
</html>