<!-- Copyright © 2019 Bas Kasemir -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spraak - About</title>
    <th:block th:include="fragments/wireframe.html :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/public/CSS/app.css}" />
</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content">

    <h2>About this application</h2>

    <div class="box half">
        <h3><i class="fas fa-info-circle"></i>&nbsp;Spraak Webinterface</h3><br>
        <p>Version: <span class="PrintVersion"></span></p>
        <p th:text="#{about.info}"><br><br></p>
        <p th:text="#{about.email}">
            <br>
            <br>
            <b>Bas Kasemir</b>&nbsp;&nbsp;&nbsp;<a href="mailto:b.h.n.kasemir@st.hanze.nl" target="_blank" title="Mail Bas Kasemir"><i class="fa fa-envelope"></i></a>&nbsp;<a href="https://www.linkedin.com/in/bas-kasemir-b4277b99/" target="_blank" title="LinkedIn profiel of Bas Kasemir"><i class="fab fa-linkedin"></i></a>
            <br><b>Marcel Zandberg&nbsp;&nbsp;&nbsp;<a href="mailto:m.a.zandberg@st.hanze.nl" target="_blank" title="Mail Marcel Zandberg"><i class="fa fa-envelope"></i></a></b>
        </p>
        <br>
        <a href="https://hanze.nl" target="_blank" title="Visit Hanze.nl">
            <img th:src="@{/public/images/HG-logo-EN-Orange-Black.png}" height="50" width="226" alt="Hanze" class="aff-logo">
        </a>

        <a href="https://umcutrecht.nl" target="_blank" title="Visit umcutrecht.nl">
            <img th:src="@{/public/images/UMCU-logo.png}" height="50" width="138" alt="UMCU" class="aff-logo">
        </a>

        <a href="https://umcg.nl" target="_blank" title="Visit umcg.nl">
            <img th:src="@{/public/images/UMCG-logo.png}" height="50" width="91" alt="UMCG" class="aff-logo">
        </a>

        <br><br>

        <p class="copy">Handcrafted with &hearts; in Groningen<br>&copy; Copyright 2019 Hanze University of Applied Sciences</p>
    </div>
    <div class="box half ">

        <h2>Legal</h2>

        <h3 th:text="#{about.programgs}"></h3>
        <br>
        <h4>Praat</h4>

        <p><i>Boersma, Paul & Weenink, David (2019). Praat: doing phonetics by computer [Computer program]. Version 6.0.46, retrieved 3 January 2019 from http://www.praat.org/</i></p>
        <br>
        <h4>OpenSMILE</h4>

        <p><i>Florian Eyben, Felix Weninger, Florian Gross, Björn Schuller: “Recent Developments in openSMILE, the Munich Open-Source Multimedia Feature Extractor”, In Proc. ACM Multimedia (MM), Barcelona, Spain, ACM, ISBN 978-1-4503-2404-5, pp. 835-838, October 2013. doi:10.1145/2502081.2502224</i></p>

    </div>

    </div>

</div>

</body>
</html>