<!--Copyright © 2020 Bas Kasemir -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spraak - [[#{menu.add_user}]]</title>
    <th:block th:include="fragments/wireframe.html :: head">Here should be an include...</th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/public/CSS/sweetalert.css}" />
    <script th:src="@{/private/JS/adduser.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/user.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/tabs.css}"/>
    <script th:src="@{/private/JS/tabs.js}"></script>
</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content">

    <h2 th:text="#{user.title}"></h2>

    <form action="#" th:action="@{'/user/new/save'}" th:object="${newUser}" method="post" id="register">

        <th:block th:if="${#fields.hasErrors('*')}">
            <br>
            <div class="notification critical">
                <h4><i class="fas fa-exclamation-triangle"></i>&nbsp;[[#{user.hasErrors}]]</h4>
                <i>De foutieve velden zijn rood onderstreept, of bekijk de lijst hieronder</i>
                <br>
                <br>
                <ul style="margin-left: 25px;">
                    <li th:each="error : ${#fields.detailedErrors('*')}" th:text="#{user.the_field} + ' ' + ${error.getFieldName()} + ' ' + ${error.getMessage()} + ' (' + ${error.getCode()} + ')'">error</li>
                </ul>
            </div>
        </th:block>

    <div class="grid">
            <div class="box grid-item col-1-3 profile">

                <h3 class="heading" th:text="#{user.preview}"></h3>

                <img th:src="@{/public/images/default-user.svg}" height="100" width="100" alt="profile pic" class="profile-picture">
                <h2><span id="fname-preview">-</span> <span id="lname-preview">-</span> </h2>
                <h5 class="subtitle"><span id="username-preview">-</span> | <span id="institute-preview">-</span> | <span id="role-preview">-</span></h5>
                <br>
                <h5 th:text="#{user.label.email}+':'"></h5>
                <h4 id="email-preview" th:text="${newUser.email} ? ${newUser.email} : '-'"></h4>
                <h5 th:text="#{user.label.language}+':'"></h5>
                <h4 id="language-preview">-</h4>
                <br>
                <br>
                <h3 class="heading" th:text="#{user.preview_check}"></h3>
                <input type="submit" th:value="#{user.save_user}">

            </div>

        <div class="box grid-item col-2-3">

                <div class="tabs-head">
                </div>

                <div class="tabs-content" th:data-tabs-name="#{user.personal_details}">
                    <fieldset>
                        <div class="col-1-2">
                            <label for="fname-field" th:text="#{user.label.firstname} + ':'"></label>
                            <br>
                            <input th:errorclass="invalid-form" type="text" id="fname-field" data-req="true" minlength="1" th:placeholder="#{user.label.firstname}" th:field="*{first_name}" autocomplete="off" autocapitalize="on" spellcheck='false'>
                        </div>

                        <div class="col-1-2">
                            <label for="lname-field" th:text="#{user.label.lastname} + ':'"></label>
                            <br>
                            <input th:errorclass="invalid-form" type="text" id="lname-field" data-req="true" minlength="1" th:placeholder="#{user.label.lastname}" th:field="*{last_name}" autocomplete="off" autocapitalize="on" spellcheck='false'>
                        </div>
                    </fieldset>

                    <input type="text" id="username-field" readonly hidden th:field="*{userName}">
                    <br><br>
                    <div class="btn tabs-next" th:text="#{tabs.next}"></div>
                </div>

                <div class="tabs-content" th:data-tabs-name="#{user.contact_information}">
                    <fieldset>
                        <div class="col-1-2">
                            <label for="email-field" th:text="#{user.label.email}"></label>
                            <input th:errorclass="invalid-form" type="email" id="email-field" class="required" th:placeholder="#{user.placeholder.email}" th:field="*{email}" autocomplete="off">
                        </div>
                    </fieldset>
                    <br>
                    <fieldset>
                        <div class="col-1-2">
                            <label for="language-field" th:text="#{user.label.language} + ':'"></label>
                            <select th:errorclass="invalid-form" name="profile_language" id="language-field">
                                <option th:selected="${newUser.profile_language == null}" disabled hidden value="" th:text="#{user.select_choose}"></option>
                                <option th:selected="${newUser.profile_language == 'nl-NL'}" value="nl-NL" th:text="#{lang.nl}"></option>
                                <option th:selected="${newUser.profile_language == 'en-US'}" value="en-US" th:text="#{lang.en}"></option>
                            </select>
                            <i class="fas fa-caret-down selctor-arw-filter"></i>
                        </div>
                    </fieldset>
                    <br><br>
                    <div class="btn tabs-prev" th:text="#{tabs.prev}"></div>
                    <div class="btn tabs-next" th:text="#{tabs.next}"></div>
                </div>

                <div class="tabs-content" th:data-tabs-name="#{user.rights}">
                    <fieldset>
                        <div class="col-1-2">
                            <label for="institute-field" th:text="#{user.label.institute}+':'"></label>
                            <select th:errorclass="invalid-form" name="institute" id="institute-field">
                                <option th:selected="${newUser.institute == null}" disabled hidden value="" th:text="#{user.select_choose}"></option>
                                <option th:selected="${newUser.institute == institutes.abbreviation}" th:each="institutes : ${institutes}" th:value="${institutes.abbreviation}" th:text="${institutes.full_name}"></option>
                            </select>
                        </div>
                    </fieldset>
                    <br>
                    <fieldset>
                        <div class="col-1-2">
                            <label for="role-field" th:text="#{user.label.role}"></label>
                            <select th:errorclass="invalid-form" id="role-field" name="role">
                                    <option th:selected="${newUser.role == null}" disabled hidden value="" th:text="#{user.select_choose}"></option>
                                    <option th:selected="${newUser.role == 'ROLE_USER'}" th:value="ROLE_USER" th:text="#{user.role.user}" ></option>
                                    <option th:selected="${newUser.role == 'ROLE_ADMIN'}" th:value="ROLE_ADMIN" th:text="#{user.role.admin}" ></option>
                            </select>
                        </div>
                    </fieldset>
                    <br><br>
                    <div class="btn tabs-prev" th:text="#{tabs.prev}"></div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
