<!--Copyright © 2019 Marcel Zandberg -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>[[#{menu.edit_user}]] - Spraak</title>
    <th:block th:include="fragments/wireframe.html :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/public/CSS/app.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/private/CSS/patients.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/public/CSS/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/public/CSS/croppie.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/public/CSS/croppie.scss}" />
    <link rel="stylesheet" type="text/css" th:href="@{/public/CSS/sweetalert.css}" />
    <script th:src="@{/public/JS/libs/croppie.js}"></script>
    <!--<script th:src="@{/public/JS/libs/croppie.min.js}"></script>-->
    <script th:src="@{/public/JS/libs/sweetalert.min.js}"></script>
    <script th:src="@{/public/JS/libs/exif.js}"></script>
    <script th:src="@{/private/JS/script.js}"></script>
    <script th:src="@{/public/JS/app.js}"></script>
    <script th:src="@{/private/JS/modifyuser.js}"></script>
    <script th:src="@{/public/JS/libs/jquery-3.1.1.min.js}"></script>


</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content">
    <h2 th:text="#{menu.edit_user}">Edit user</h2>
    <div class="box">
        <form action="#" th:action="@{'/modify_user'}" th:object="${registerUser}" method="post" id="register">
        <div class="filter-options">
            <i class="fas fa-filter"></i>
            <h5 th:text="#{register.select}" class="selc-edit"></h5>
            <i class="fas fa-caret-down selctor-arw tooltip"><span class="tooltiptext no_selection" th:text="#{help.edit}"></span></i>
            <select id="selected-user" class="modify">
                <option selected disabled>-- Select User --</option>
                <option th:each="usernames : ${usernames}" th:value="${usernames.first_name} +','+ ${usernames.last_name} +','+ ${usernames.email} +','+ ${usernames.userName} +','+ ${usernames.profile_language} +','+ ${usernames.institute}" th:text="${usernames.userName}"></option>
            </select>
        </div>
            <br><br>

            <div class="overflow">
                <table>
                    <tr>
                        <th>Key</th>
                        <th>Data</th>
                    </tr>
                    <tr>
                        <td th:text="#{register.firstname}"></td>
                        <td><input id="userFirstName" type="text" value="" th:field="*{first_name}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{register.lastname}"></td>
                        <td><input id="userLastName" type="text" value="" th:field="*{last_name}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{register.email}"></td>
                        <td><input id="userEmail" type="text" value="" th:field="*{email}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{register.username}"></td>
                        <td><p th:text="#{register.unmessage}"></p><input hidden id="userName" type="text" value="" th:field="*{userName}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{register.password}"></td>
                        <td><input type="password" th:value="' ***************************'" th:field="*{password}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{register.confirmpassword}"></td>
                        <td><input type="password" th:value="' ***************************'" th:field="*{passwordConfirm}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{register.language}"></td>
                        <td><select class="modify-table" th:field="*{profile_language}">
                            <option selected th:value="en-US" th:text="English"></option>
                            <option th:value="nl-NL" th:text="Nederlands"></option>
                        </select><i class="fas fa-caret-down selctor-arw-filter tooltip"><span class="tooltiptext no_selection" th:text="#{help.lan}"></span></i></td>
                    </tr>
                    <tr>
                        <td th:text="#{register.institute}"></td>
                        <td><select class="modify-table" th:field="*{institute}">
                            <option th:each="institutes : ${institutes}" th:value="${institutes.abbreviation}" th:text="${institutes.full_name}"></option>
                            </select><i class="fas fa-caret-down selctor-arw-filter tooltip"><span class="tooltiptext no_selection" th:text="#{help.int}"></span></i></td>
                    </tr>
                    <tr>
                        <td th:text="#{regisetr.role}"></td>
                        <td><select class="modify-table" th:field="*{role}">
                            <option selected th:value="ROLE_USER" th:text="USER"></option>
                            <option th:value="ROLE_ADMIN" th:text="Admin"></option>
                        </select><i class="fas fa-caret-down selctor-arw-filter tooltip"><span class="tooltiptext no_selection" th:text="#{help.role}"></span></i>
                        </td>
                    </tr>
                </table>
            </div><br><br>

            <div class="btn-small submit-user-form" th:text="#{menu.register_button}">
                <!--<input class="btn-small" type="submit" value="Submit"/>-->
            </div>


        <div class="container-small" th:text="#{register.ppmessage}"></div>
        <div class="container1">
            <div class="upload-demo-wrap">
                <div id="upload-demo"></div>
            </div>
            <div class="actions">
                <div class="btn-small file-btn">Upload
                    <input type="file" id="upload" value="Choose a file" accept="image/*" />
                </div>
                <!--<a class="btn-small file-btn">-->
                <!--&lt;!&ndash;<span>Upload</span>&ndash;&gt;-->
                <!---->
                <!--</a>-->
                <div class="btn-small upload-result" th:text="#{register.result}"></div>
                <div id="pf-preview" class="hideonload"></div>
                <input type="text" id="pf-input" name="profile_picture" class="hideonload">
            </div>
        </div>
        <script>
            CropImage.init();
        </script>

        </form>
    </div>
</div>


</body>
</html>