<!-- Copyright © 2019 Bas Kasemir -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Spraak | Error</title>
    <link href="/public/images/icons/Praat-icon.png" rel="icon" type="image/png">
    <link href="/public/CSS/app.css" rel="stylesheet" type="text/css">
    <link href="/public/CSS/login.css" rel="stylesheet" type="text/css">
    <link th:href="@{/public/fontawesome-free-5.7.0-web/css/all.css}" rel="stylesheet">
    <script th:href="@{/public/JS/libs/jquery-3.3.1.min.js}"></script>
    <link th:href="@{/public/CSS/app.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/public/JS/app.js}"></script>
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">

<div class="login-box">

    <div class="split left">
        <h1 th:text="#{error.heading}"></h1>
        <br>
        <p><b th:text="${httpStatus}"></b><br>[[${httpStatus.reasonPhrase}]]</p>

        <br>

        <form th:action="@{/}" method="get">
            <input type="submit" th:value="#{error.btn_homepage}"/>
        </form>

        <form th:action="@{/logout}" method="post">
            <input type="submit" th:value="#{error.btn_logout}"/>
        </form>

        <p class="copy">[[#{app.version}]] - &copy; [[#{app.year}]] [[#{app.institute}]]</p>
        <p class="locales"><span data-changelang="en">EN</span> | <span data-changelang="nl">NL</span></p>
    </div>

    <div class="split right">

    </div>

</div>

</body>
</html>