<!-- Copyright © 2019 Bas Kasemir and Marcel Zandberg -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spraak - Health</title>
    <th:block th:include="fragments/wireframe.html :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/health.css}"/>
    <script th:src="@{/private/JS/health.js}"></script>
</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content">

    <h2>Monitoring health of API</h2>

    <div class="box half">
        <h3>API @ [[${user.full_name_institute}]]</h3>
        <br>

        <div class="overflow i-b">
            <h4>System status</h4>
            <table>
                <tbody>
                    <tr>
                        <th>Element</th>
                        <th>State</th>
                    </tr>
                    <tr>
                        <td>Overall</td>
                        <td id="overall-state"></td>
                    </tr>
                    <tr>
                        <td>Database</td>
                        <td id="db-state"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="spacer-25px"></div>

        <div class="overflow i-b">
            <h4>System details</h4>
            <table>
                <tbody>
                    <tr>
                        <th>Key</th>
                        <th>State</th>
                    </tr>
                    <tr>
                        <td>OS name</td>
                        <td id="env-os-name"></td>
                    </tr>
                    <tr>
                        <td>Java version</td>
                        <td id="env-java-version"></td>
                    </tr>
                    <tr>
                        <td>JRE version</td>
                        <td id="env-java-runtime-version"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br><br>

        <h4>System usage</h4>

        <div class="cb-outer">
            <canvas class="cb" id="Diskspace" height="200" width="200">
            </canvas>
            <i class="fas fa-exclamation-triangle dogwood_blossom_red_text hideonload"></i>
            <i class="fas fa-hdd"></i>
            <p>[[#{health.diskspace}]]</p>
            <p><span id="disk_free"></span> GB<br>[[#{health.used_of}]]<br><span id="disk_total"></span> GB</p>
        </div>

        <div class="cb-outer">
            <canvas class="cb" id="Memory" height="200" width="200">
            </canvas>
            <i class="fas fa-exclamation-triangle dogwood_blossom_red_text hideonload"></i>
            <i class="fas fa-memory"></i>
            <p th:utext="#{health.memory}"></p>
            <p class="amount"><span id="UsedMem"></span> GB<br>[[#{health.used_of}]]<br><span id="MaxMem"></span> GB</p>
        </div>

        <div class="cb-outer">
            <canvas class="cb" id="CPU" height="200" width="200">
            </canvas>
            <i class="fas fa-exclamation-triangle dogwood_blossom_red_text hideonload"></i>
            <i class="fas fa-microchip"></i>
            <p>CPU Load</p>
            <p class="amount"><span id="CPULoad"></span>% CPU Load</p>
        </div>

        <br><br>

        <h4>HTTP Trace (Last 100 requests)</h4>

        <p>Show: <select id="view-amt-http">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="75">75</option>
            <option id="all-httptrace"></option>
        </select></p>

        <div class="overflow">
            <table id="HTTPTraceTable">
                <tr>
                    <th>Timestamp</th>
                    <th>Method</th>
                    <th>URI</th>
                    <th>Response code</th>
                </tr>
            </table>
        </div>

        <br>

        <div class="divider"></div>
        <br>
        <p class="copy">Status recieved @ <span id="timestamp"></span> | <span class="cur-pointer" id="refresh-api-status">Click here to refresh</span></p>

    </div>

</div>

<script th:inline="javascript">

    /*<![CDATA[*/

    var health = {
        "status": /*[[#{health.status}]]*/ 'Default locale',
        "up": /*[[#{health.up}]]*/ 'Default locale',
        "down": /*[[#{health.down}]]*/ 'Default locale',
        "diskspace": /*[[#{health.diskspace}]]*/ 'Default locale',
        "used_of": /*[[#{health.used_of}]]*/ 'Default locale'
    };
    /*]]>*/

</script>

</body>
</html>