<!-- Copyright © 2019 Bas Kasemir -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spraak</title>
    <th:block th:include="fragments/wireframe.html :: head"></th:block>
</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content">

    <h2>[[#{app.greeting}]] [[${user.first_name}]]!</h2>

    <h3 th:utext="#{app.welcome}"></h3>

    <br>
    <a th:href="@{/analysis}">
    <div class="app-menu-box">
        <i class="fas fa-flask"></i>
        <h3 th:text="#{menu.analysis}"></h3>
    </div>
    </a>

    <a th:href="@{/results}">
    <div class="app-menu-box float-right">
        <i class="fas fa-clipboard-list"></i>
        <h3 th:text="#{menu.reslults}"></h3>
    </div>
    </a>

    <div class="box half">
        <p th:utext="#{app.intro}"></p>
    </div>

</div>

</body>
</html>