<!-- Copyright © 2020 Bas Kasemir -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/wireframe.html :: loginhead"></th:block>
    <title>Spraak | Password success</title>
</head>
<body>

<div class="login-box">

    <div class="split left">
        <a th:href="@{'/login'}"><img th:src="@{/public/images/spraak-logo/Spraak-logo-simple-blue.svg}" height="50" width="50" alt="Logo" class="login-logo"></a><h1>Spraak</h1>
        <br><br>
        <p class="login-greeting"><b>[[#{activation.greeting}]] user [[${param.username}]]</b></p>

        <br>

        <div class="notification-login-container">

            <noscript>
                <div class="notification critical">
                    <p><i class="fas fa-exclamation-triangle"></i>&nbsp;[[#{login.no_javascript}]]</p>
                </div>
            </noscript>

        </div>

        <br>

        <p th:text="#{reset.successful}"></p>

        <br>

        <a th:href="@{'/login'}">
            <div class="btn">Log in</div>
        </a>

        <p class="copy">[[#{app.version}]] - &copy; [[#{app.year}]] [[#{app.institute}]]</p>
        <p class="locales"><span data-changelang="en">EN</span> | <span data-changelang="nl">NL</span></p>
    </div>

    <div class="split right">

    </div>

</div>

</body>
</html>