<!-- Copyright © 2018 Bas Kasemir -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spraak- Results</title>
    <th:block th:include="fragments/wireframe.html :: head"></th:block>
    <script th:src="@{/private/JS/datepicker/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/private/JS/datepicker/daterangepicker.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/daterangepicker.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/private/CSS/patients.css}" />

    <script th:src="@{/static/private/JS/patients.js}"></script>
</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content">
    <h2>Results</h2>
    <div class="box half">
        <div class="action-buttons">
            <h5><i class="fas fa-bolt"></i>&nbsp;[[#{results.actions}]]</h5>
            <div class="btn-small not-allowed">
                <i class="fas fa-arrow-alt-circle-down tooltip"><span class="tooltiptext no_selection" th:text="#{help.dwnl}"></span></i>
            </div>
            <div class="btn-small not-allowed">
                <i class="fas fa-trash tooltip"><span class="tooltiptext no_selection" th:text="#{help.rem}"></span></i>
            </div>
        </div>

        <div class="filter-options filter-width">
            <h5>[[#{results.filter_options}]]&nbsp;<i class="fas fa-filter tooltip"><span class="tooltiptext no_selection" th:text="#{help.filter}"></span></i></h5>

            <input type="text" name="patidfilter" th:placeholder="#{results.patid_placeholder}">
                &nbsp;
            <input type="text" name="datefilter" th:placeholder="#{results.datarange_placeholder}+' - '+#{results.datarange_placeholder}">
        </div>

        <br>

        <p>
            <span id="amountOfResults"></span> [[#{results.num_results_first}]]
            <select class="filter" id="numPerPage">
                <option value="25" selected>25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="" id="allPerPageOpt">All</option>

            </select> <i class="fas fa-caret-down selctor-arw-filter"></i>&nbsp;[[#{results.num_results_second}]]<br></p>


        <div class="results-table noo_selection">
            <div class="results-table-header">
                <div class="result-row-container">
                    <div class="result-row">
                        <div class="checker">
                            <input type="checkbox" class="result-checkbox" value="">
                        </div>
                        <div class="data" th:text="#{analyse.metadata_patnr}"></div>
                        <div class="data" th:text="#{analyse.sex}"></div>
                        <div class="data" th:text="#{analyse.birthdate}"></div>
                        <div class="data" th:text="#{analyse.degree}"></div>
                        <div class="data" th:text="#{analyse.diag_group}"></div>
                        <div class="data" th:text="#{analyse.added_by}"></div>
                    </div>

                </div>
                <div class="actions">
                <div style="float: right;" class="filter-margin">
                    [[#{results.page}]]: <select class="filter" id="pageSelector" style="display: inline-block;"></select><i class="fas fa-caret-down selctor-arw-filter"></i> &nbsp;/ <span id="numOfPages"></span>
                </div>
            </div>
            </div>
            <ul id="items">
                <li id="bummer">
                    <p class="text-message" th:text="#{results.bummer}"></p>
                </li>
                <div id="items-list"></div>
            </ul>
        </div>

    </div>

</div>

</body>
</html>