<!-- Copyright © 2020 Marcel Zandberg -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spraak- Results</title>
    <th:block th:include="fragments/wireframe.html :: head"></th:block>
    <script th:src="@{/private/JS/datepicker/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/private/JS/datepicker/daterangepicker.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/daterangepicker.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/results.css}" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script th:src="@{/private/JS/results.js}"></script>
</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content">
    <h2>[[#{session1}]]</h2><br>
    <h3>[[#{session2}]]<br><br>
        <i class="copy">[[#{session3}]]</i><br>
        <i class="copy">[[#{session4}]]</i></h3>
    <br>
    <div class="box half" style="width: 60%">
        <div class="filter-options filter-width">
            <h4>[[#{session5}]]&nbsp;<i class="fas fa-filter"></i></h4>
        </div>
        <br>
        <br>

        <p>
            <span id="amountOfResults"></span>&nbsp;[[#{session6}]]
            <h3><i class="copy">[[#{session7}]]</i></h3>
        </p>
        <div class="results-table noo_selection">
            <div class="results-table-header">
                <div class="session">[[#{session8}]]
                </div>
                <div class="fileAmount">[[#{session9}]]
                </div>
                <div class="timeStamp">[[#{session10}]]
                </div>
                <div class="owner" th:text="#{results.table_owner}">
                </div>
                <div style="float: right" class="actions-label" id="actions-label">
                    <h4><i class="fas fa-bolt"></i>&nbsp;[[#{results.actions}]]</h4>
                </div>
            </div>
            <ul id="items">
                <li id="bummer">
                    <p class="text-message" th:text="#{results.bummer}"></p>
                </li>
                <div id="items-list" class="results-table-list"></div>
            </ul>
        </div>

    </div>

</div>

</body>
</html>
