<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Visuals - Spraak</title>
    <th:block th:include="fragments/wireframe.html :: head"></th:block>
    <link  th:href="@{/private/CSS/file-dropbox.css}" rel="stylesheet" type="text/css">
    <link  th:href="@{/private/CSS/tooltip.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/daterangepicker.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/visuals.css}" />
    <script th:src="@{/private/JS/datepicker/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/private/JS/datepicker/daterangepicker.min.js}"></script>
    <script th:src="@{/private/JS/analysis_section_navigation.js}"></script>
    <script th:src="@{/private/JS/visuals_section_navigation.js}"></script>
    <script th:src="@{/private/JS/visuals_intro.js}"></script>
    <script th:src="@{/private/JS/visuals_files.js}"></script>
    <script th:src="@{/private/JS/visuals_upload_form.js}"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/chart.js@2.9.3/dist/Chart.bundle.min.js,npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
    <script src="https://unpkg.com/chartjs-chart-box-and-violin-plot@2.3.0/build/Chart.BoxPlot.js"></script>
    <script th:src="@{/private/JS/visuals_plots.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ui@1.12.1/ui/widget.min.js"></script>


</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content analysis">
    <div class="hider"></div>
    <h2 class="above-hider">Analyse</h2>
    <div class="form-col">
        <div class="form-progress">
            <div class="form-progress-bar">
                <div></div>
            </div>
        </div>

        <!--Intro tab-->
        <div class="form-step element-offset" id="intro" data-section-name="Intro">
            <h3>Intro</h3>
            <p>[[#{app.greeting}]] [[${user.first_name}]]!<br>
                [[#{visuals.intro1}]]
            <br>[[#{visuals.intro2}]]</p>

            <h3>[[#{visuals.intro3}]]<br>
                <i class="copy">[[#{visuals.intro4}]]</i></h3>
            <div class="a-box">
            <div class="a-filter no_selection">

                <div class="title">[[#{visuals.intro6}]]</div>

                    <div class="box-filter">
                    <section>
                        <label>[[#{visuals.intro7}]]</label>

                        <div class="options">
                            <div class="open-opt">
                            <label>[[#{visuals.intro8}]]</label>
                            <div class="toggle"><span></span><span></span></div>
                            <div class="expands">
                                <div class="filter-options filter-width">
                                    <input type="text" name="datefilter" th:placeholder="#{results.datarange_placeholder}+' - '+#{results.datarange_placeholder}">
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="options">
                            <div class="open-opt">
                            <label>[[#{visuals.intro9}]]</label>
                            <div class="toggle"><span></span><span></span></div>
                            <div class="expands">
                                <div class="age filter-width">
                                <input type="text" name="agefilter" placeholder="1-100">
                                </div>
                            </div>
                            </div>
                        </div>


                        <div class="options">
                            <div class="open-opt">
                            <label>[[#{visuals.intro10}]]</label>
                            <div class="toggle"><span></span><span></span></div>
                            <div class="expands">
                                <input type="checkbox" name="genderf" id="genderf" value="f">&nbsp;[[#{visuals.intro13}]]<br>
                                <input type="checkbox" name="genderm" id="genderm" value="m">&nbsp;[[#{visuals.intro14}]]<br>
                            </div>
                            </div>
                        </div>


                        <div class="options">
                            <div class="open-opt">
                            <label>[[#{visuals.intro11}]]</label>
                            <div class="toggle"><span></span><span></span></div>
                            <div class="expands">
                                <div class="filter-options">
                                    <select id="selected-niveau" class="niveau">
                                        <option selected value="">&nbsp;-- select --</option>
                                        <option value="na">NA</option>
                                        <option value="mbo">MBO</option>
                                        <option value="hbo">HBO</option>
                                        <option value="uni">UNI</option>
                                    </select>
                                    <i class="fas fa-caret-down tooltip"></i>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="options">
                            <div class="open-opt">
                            <label>[[#{visuals.intro12}]]</label>
                            <div class="toggle"><span></span><span></span></div>
                            <div class="expands">
                                <div class="filter-options">
                                    <select id="selected-diagnoses" class="niveau">
                                        <option selected value="">&nbsp;-- select --</option>
                                        <option value="psychose">psychose</option>
                                        <option value="parkinson">parkinson</option>
                                    </select>
                                    <i class="fas fa-caret-down tooltip"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                    </section>
                    </div>
            </div>
            </div>
            <div class="btn next-form-step no_selection" data-setMaxSection="1" th:text="#{analyse.next_btn}" id="introtab"></div>
        </div>

        <!--Patients tab-->
        <div class="form-step element-offset hideonload" id="patient" data-section-name="Patients">
            <h3>[[#{visuals.intro6}]]</h3>
            <p style="margin: 0 0 0 0">[[#{visuals.pat1}]]<h3 style="margin: 0 0 0 0">
            <i class="copy">[[#{visuals.pat2}]]</i>
        </h3>
            <div class="box half">
                <div class="filter-options">
                    <h4>[[#{results.filter_options}]]&nbsp;<i class="fas fa-filter tooltip"><span class="tooltiptext no_selection" th:text="#{help.filter}"></span></i></h4>
                    <br>
                    <input type="text" name="patidfilter" th:placeholder="#{results.patid_placeholder}">
                </div>
                <div class="checkbox-container-visuals">
                    <div class="checkbox no_selection" id="checkbox-result">
                        <div class="backbar"><span class="onlabel">&nbsp;On</span></div>
                        <div class="switch"></div>
                    </div>
                    <span class="next-to-label">[[#{visuals.pat3}]]</span>
                    <br><br>
                    <input type="checkbox" name="show_one" value="0" id="show_one" class="hideonload"  checked="">
                </div>
                <br>
                <p style="margin: 0 0 15px 0">
                    <span id="amountOfResults"></span>&nbsp;[[#{visuals.pat4}]]
                <div class="results-table no_selection">
                    <div class="results-table-header no_selection">
                        <div class="checker">
                            <input name="select-all" type="checkbox" id="select-all" class="select-all">
                        </div>
                        <div class="name" th:text="#{results.table_patid}">
                        </div>
                        <div class="date" th:text="#{visuals.pat5}">
                        </div>
                        <div class="name" th:text="#{visuals.pat6}">
                        </div>
                        <div class="name" th:text="#{visuals.pat7}">
                        </div>
                        <div class="name" th:text="#{visuals.pat8}">
                        </div>
                        <div class="name" th:text="#{visuals.pat9}">
                        </div>
                        <div class="username-header" th:text="#{register.username}">
                        </div>
                    </div>
                    <ul id="items">
                        <li id="bummer">
                            <p class="text-message" th:text="#{results.bummer}"></p>
                        </li>
                        <div id="items-list" class="results-table-list"></div>
                    </ul>
                </div>

            </div>
            <div class="btn next-form-step no_selection intro-btn hideonload-important" id="filetab" data-setMaxSection="2" th:text="#{results.intro_button}"></div>
            <a th:href="@{/visuals}">
            <div class="btn no_selection">Reset</div>
            </a>
        </div>

        <!--Programs section-->
        <div class="form-step element-offset hideonload" id="programs" data-section-name="Programs">
            <h2>Praat | OpenSmile</h2>
            <br>
            <p>[[#{visuals.program1}]]</p>
            <div class="program-menu-box">
                <h3>Pre-processing</h3>
                <p>[[#{visuals.program2}]]</p>
                <div class="checkbox-container">
                    <div class="no_selection checkbox checkbox-preproces" id="checkbox-preproces">
                        <div class="backbar"><span class="onlabel">&nbsp;On</span></div>
                        <div class="switch"></div>
                    </div>
                    <span class="next-to-label">[[#{visuals.program7}]]</span>
                    <br><br>
                    <input type="checkbox" name="preproces" value="0" id="preproces" class="hideonload" checked="">
                </div>
                <div class="filter-options hideonload-important" id="procesoption"><br>[[#{visuals.program3}]]
                    <select id="praat-script" th:field="*{praatscripts}" class="scripts">
                        <option th:each="praatscript : ${praatscripts}" th:value="${praatscript.filename}" th:text="${praatscript.filename}"></option>
                    </select>
                    <i class="fas fa-caret-down tooltip"></i>
                </div>
            </div>
            <div class="program-menu-box-result">
                <div class="overflow i-b">
                    <h3>Patient overview</h3>
                    <br>
                    <table>
                        <tbody>
                        <tr>
                            <th>[[#{visuals.program11}]]</th>
                            <th>[[#{visuals.program10}]]</th>
                        </tr>
                        <tr>
                            <td>[[#{visuals.program9}]]</td>
                            <td id="selected_patients"></td>
                        </tr>
                        <tr>
                            <td>[[#{visuals.intro12}]]</td>
                            <td id="selected_diagnosis"><i class="fas fa-times-circle dogwood_blossom_red_text"></i></td>
                        </tr>
                        <tr>
                            <td>[[#{visuals.intro9}]]</td>
                            <td id="selected_age"><i class="fas fa-times-circle dogwood_blossom_red_text"></i></td>
                        </tr>
                        <tr>
                            <td>[[#{visuals.intro8}]]</td>
                            <td id="selected_date"><i class="fas fa-times-circle dogwood_blossom_red_text"></i></td>
                        </tr>
                        <tr>
                            <td>[[#{visuals.intro10}]]</td>
                            <td id="selected_gender"><i class="fas fa-times-circle dogwood_blossom_red_text"></i></td>
                        </tr>
                        <tr>
                            <td>[[#{visuals.intro11}]]</td>
                            <td id="selected_degree"><i class="fas fa-times-circle dogwood_blossom_red_text"></i></td>
                        </tr>
                        <tr>
                            <td>[[#{visuals.program8}]]</td>
                            <td id="selected_control"><i class="fas fa-check-circle download_green_text"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="program-menu-box">
                <h3>[[#{visuals.program12}]]</h3>
                <p>[[#{visuals.program4}]]</p>
                <div class="checkbox-container">
                    <div class="no_selection checkbox checkbox-result-programs" id="checkbox-result-praat">
                        <div class="backbar"><span class="onlabel">&nbsp;On</span></div>
                        <div class="switch"></div>
                    </div>
                    <span class="next-to-label">[[#{visuals.program5}]]</span>
                    <br><br>
                    <input type="checkbox" name="use_praat" value="0" id="use_praat" class="hideonload" checked="">
                </div>
                <div class="checkbox-container">
                    <div class="no_selection checkbox checkbox-result-programs" id="checkbox-result-opensmile">
                        <div class="backbar"><span class="onlabel">&nbsp;On</span></div>
                        <div class="switch"></div>
                    </div>
                    <span class="next-to-label">[[#{visuals.program6}]]</span>
                    <br><br>
                    <input type="checkbox" name="use_opensmile" value="0" id="use_opensmile" class="hideonload" checked="">
                </div>
            </div>
            <div class="btn no_selection files-btn hideonload-important" id="uploadButton" data-setMaxSection="3"><i class="fas fa-paper-plane"></i>&nbsp;[[#{analyse.submit}]]</div>
            <a th:href="@{/visuals}">
                <div class="btn no_selection">Reset</div>
            </a>
        </div>


        <!--Plot section-->
        <div class="form-step element-offset hideonload" id="plot" data-section-name="Praat">
            <h2 id="top">Plots</h2>
            <h3>[[#{visuals.plot1}]]<br>
                <i class="copy">[[#{visuals.plot2}]]</i><br>
                <i class="copy"> [[#{visuals.plot3}]]</i></h3>

            <!--plot againt controll praat-->
            <div id="ctrl" class="hideplot">
            <div class="hideplot box-plot" id="plot-box-praat">
                <h3 style="text-align: center">[[#{visuals.plot4}]]</h3>
                <div id="box-praat-plot1" class="plot-pos" >
                    <canvas id="boxnsyll"></canvas>
                </div>
                <div id="box-praat-plot2" class="plot-pos">
                    <canvas id="boxnpause"></canvas>
                </div>
                <div id="box-praat-plot3" class="plot-pos">
                    <canvas id="boxphonation"></canvas>
                </div>
                <div id="box-praat-plot4" class="plot-pos">
                    <canvas id="boxspeech"></canvas>
                </div>
                <div id="box-praat-plot5" class="plot-pos">
                    <canvas id="boxarticulation"></canvas>
                </div>
                <div id="box-praat-plot6" class="plot-pos">
                    <canvas id="boxasd"></canvas>
                </div>
            </div>

            <div id="boxsection" class="scroll hideonload-important">
                <div>
                    <i id="scroll-box" class="fas fa-chevron-down"></i>
                </div>
            </div>

            <!--plot againt controll openSmile-->
            <div class="hideplot box-plot" id="plot-box-openSmile">
                <h3 style="text-align: center">[[#{visuals.plot5}]]</h3>
                <div id="box-openSmile-plot1" class="plot-pos" >
                    <canvas id="boxvar1"></canvas>
                </div>
                <div id="box-openSmile-plot2" class="plot-pos">
                    <canvas id="boxvar2"></canvas>
                </div>
                <div id="box-openSmile-plot3" class="plot-pos">
                    <canvas id="boxvar3"></canvas>
                </div>
                <div id="box-openSmile-plot4" class="plot-pos">
                    <canvas id="boxvar4"></canvas>
                </div>
                <div id="box-openSmile-plot5" class="plot-pos">
                    <canvas id="boxvar5"></canvas>
                </div>
                <div id="box-openSmile-plot6" class="plot-pos">
                    <canvas id="boxvar6"></canvas>
                </div>
            </div>
            </div>



            <!--plot over time praat-->
            <div id="time">
            <div class="hideplot box-plot" id="plot-time-praat">
                <h3 style="text-align: center">[[#{visuals.plot6}]]</h3>
                <div id="bar-praat-plot1" class="plot-pos">
                    <canvas id="nsyll"></canvas>
                </div>
                <div id="bar-praat-plot2" class="plot-pos">
                    <canvas id="npause"></canvas>
                </div>
                <div id="bar-praat-plot3" class="plot-pos">
                    <canvas id="phonationtime"></canvas>
                </div>
                <div id="bar-praat-plot4" class="plot-pos">
                    <canvas id="speechrate"></canvas>
                </div>
                <div id="bar-praat-plot5" class="plot-pos">
                    <canvas id="articulation"></canvas>
                </div>
                <div id="bar-praat-plot6" class="plot-pos">
                    <canvas id="ASD"></canvas>
                </div>
            </div>

            <div id="timesection" class="scroll">
                <div>
                    <i id="scroll-time" class="fas fa-chevron-down"></i>
                </div>
            </div>

            <!--plot over time openSmile-->
            <div class="hideplot box-plot" id="plot-time-opensmile">
                <h3 style="text-align: center">[[#{visuals.plot7}]]</h3>
                <div id="bar-opensmile-plot1" class="plot-pos">
                    <canvas id="var1"></canvas>
                </div>
                <div id="bar-opensmile-plot2" class="plot-pos">
                    <canvas id="var2"></canvas>
                </div>
                <div id="bar-opensmile-plot3" class="plot-pos">
                    <canvas id="var3"></canvas>
                </div>
                <div id="bar-opensmile-plot4" class="plot-pos">
                    <canvas id="var4"></canvas>
                </div>
                <div id="bar-opensmile-plot5" class="plot-pos">
                    <canvas id="var5"></canvas>
                </div>
                <div id="bar-opensmile-plot6" class="plot-pos">
                    <canvas id="var6"></canvas>
                </div>
            </div>
            </div>

            <a th:href="@{/download}">
                <div class="btn no_selection">Download</div>
            </a>
            <a th:href="@{/visuals}">
            <div class="btn no_selection">Run again</div>
            </a>
        </div>
    </div>
    <!-- End of .form-col -->
</div>


<script th:inline="javascript">



    var analyse = {
        "please_wait": /*[[#{analyse.please_wait}]]*/ 'Default locale',
        "uploading": /*[[#{analyse.uploading}]]*/ 'Default locale',
        "success": /*[[#{analyse.success}]]*/ 'Default locale',
        "being_processed": /*[[#{analyse.being_processed}]]*/ 'Default locale',
        "results_page": /*[[#{analyse.results_page}]]*/ 'Default locale',
        "another_one": /*[[#{analyse.another_one}]]*/ 'Default locale',
        "error": /*[[#{analyse.error}]]*/ 'Default locale',
        "error_msg": /*[[#{analyse.error_msg}]]*/ 'Default locale',
        "try_again": /*[[#{analyse.try_again}]]*/ 'Default locale',
        "required_field": /*[[#{analyse.required_field}]]*/ 'Default locale',
        "required_msg": /*[[#{analyse.required_msg}]]*/ 'Default locale',
        "complete_section": /*[[#{analyse.complete_section}]]*/ 'Default locale',
        "complete_section_msg": /*[[#{analyse.complete_section_msg}]]*/ 'Default locale',
        "self_closing": /*[[#{analyse.self_closing}]]*/ 'Default locale'
    };



</script>
</body>
</html>
